*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p{
    font-size: 15px;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: black;
    
}

ul{
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter', sans-serif;
    
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    min-height: 97.09px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

 header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
  display: flex;
}


header ul li{
    padding-left: 50px;
    font-size: 15px;

}
header ul li a:hover {
    cursor: pointer;
    color: hsl(5, 85%, 63%);
}

@media (max-width: 768px) {
    header ul {
        display: none;
    }
    header ul li{  
        margin: 15px 0;
        padding-left: 25px ;
    }
    header ul li a{
        color: black !important ;
        font-size: 25px;
    }
}

header .side-links{
    display: none;
    position: relative;
}
header .side-links:hover + ul{
    display: flex;
    flex-direction: column;
    right: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 75%;
    background-color: white;
    align-items: flex-start;
    padding: 150px 0;
}
header .side-links:hover::after{
    content: url(/assets/images/icon-menu-close.svg);
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
}

@media (max-width: 768px) {
    header .side-links{
        display: inline-block;
    }
}

.grid-box{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
}

.grid-box .section1 , .text-box{
    grid-column: span 2;
}

.grid-box .image{
    background-image: url(/assets/images/image-web-3-desktop.jpg);
    background-size: cover;
    height: 250px;
}

@media (max-width: 768px) {
    .grid-box .section1  {
        width: 100%;
    }
    .grid-box .image{
        background-image: url(/assets/images/image-web-3-mobile.jpg);
    }
}

.grid-box .section2{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: hsl(240, 100%, 5%);
    color: white;
    padding: 20px;
}
.grid-box .section2 .text{
    padding: 25px 0 ;
}

.grid-box .section2 .text:not(:last-child){
    border-bottom: 1px solid hsl(233, 8%, 79%);
}

@media (max-width: 768px) {
    .section2{
        width: 100%;
    }
    .grid-box .section2 .text{
        padding: 50px 0;
    }
}

.grid-box .section2 h3:hover , .section2 h1{
    color:hsl(35, 77%, 62%) ;
    cursor: pointer;
}

.grid-box .section2 p{
    color: hsl(233, 8%, 79%);
    margin-top: 10px;
}

.grid-box .section3 h1{
    padding-right: 45px;
    font-size: 45px;
    font-weight: 800;
}

.section4 p{
    color: hsl(236, 13%, 42%);
}

.grid-box .section4 button{
    background-color: hsl(5, 85%, 63%);
    padding: 15px 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 25px;
    border: none;
    letter-spacing: 5px;
    font-size: 11px;
    cursor: pointer;
}

.grid-box .section4 button:focus{
    background-color: hsl(240, 100%, 5%);

}
.title1{
display: flex;
}

.title1 img{
    height: 120px;
}

.title1 .text {
    margin-left: 20px;
}
.title1 .text h1{
    color: hsl(233, 8%, 79%);
    margin-bottom: 5px;
}
.title1 .text h4:hover{
    cursor: pointer;
    color: hsl(5, 85%, 63%);
}

.title1 .text p{
    color: hsl(236, 13%, 42%);
    margin-top: 10px;
}

@media (max-width: 768px) {
    .grid-box{
        display: flex;
        flex-wrap: wrap; 
    }
}
